# https://github.com/marketplace/actions/run-on-architecture
# https://github.com/openpnp/opencv/pull/56
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix
# https://github.com/openpnp/opencv/actions
# https://github.com/openpnp/opencv/pull/59/files
# https://stackoverflow.com/questions/57498605/github-actions-share-workspace-artifacts-between-jobs?rq=1
# https://github.com/actions/upload-artifact
# https://github.com/actions/download-artifact

# TODO
# - only run on tags
# - extract opencv version from pom.xml for use in this action
# - maybe consider doing an arm64 test with run on?

name: Build OpenPnP OpenCV Distribution

on: 
  push:
  pull_request:

jobs:
  build_linux_arm64: 
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Get Version Info
        run: |
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)" >> $GITHUB_ENV

      - name: Build OpenCV on Arm64
        uses: uraimo/run-on-arch-action@v2.0.9
        with:
          arch: aarch64
          distro: ubuntu18.04
          
           # Not required, but speeds up builds
          githubToken: ${{ github.token }}

          # Create an artifacts directory
          setup: |
            mkdir -p "${PWD}/artifacts"

          # Mount the artifacts directory as /artifacts in the container
          # Also mount the checked out repo as /host_repo so we can do a test build.
          dockerRunArgs: |
            --volume "${PWD}/artifacts:/artifacts"
            --volume "${PWD}:/host_repo"

          run: |
            apt-get update -q -y
            apt-get install -q -y git wget cmake unzip build-essential default-jre default-jdk ant maven python3

            # TODO: I'd like to get this path automatically somehow. I think it might be
            # in /etc/environment but sourcing it didn't seem to work. Need to figure out
            # where it would be after starting a new shell.
            export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-arm64

            wget https://github.com/opencv/opencv/archive/${{ env.OPENCV_VERSION }}.zip > /dev/null
            unzip ${{ env.OPENCV_VERSION }} > /dev/null

            cd opencv-${{ env.OPENCV_VERSION }}
            mkdir build
            cd build
            cmake \
              -D OPENCV_FORCE_3RDPARTY_BUILD=ON \
              -D BUILD_JAVA=ON \
              -D BUILD_FAT_JAVA_LIB=ON \
              -D OPENCV_ENABLE_NONFREE=ON \
              -D BUILD_SHARED_LIBS=OFF \
              -D BUILD_PERF_TESTS=OFF \
              -D BUILD_TESTS=OFF \
              -D BUILD_EXAMPLES=OFF \
              -D BUILD_DOCS=OFF \
              -D BUILD_PACKAGE=OFF \
              -D BUILD_opencv_python2=OFF \
              -D BUILD_opencv_python3=OFF \
              -D BUILD_opencv_apps=OFF \
              -D BUILD_opencv_gapi=OFF \
              -D CMAKE_BUILD_TYPE=RELEASE \
              ..
            make -j4

            # Copy the build artifacts to the /artifacts directory, which will be
            # used by the host to upload them.
            mkdir -p /artifacts/bin
            mkdir -p /artifacts/lib
            cp bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar /artifacts/bin
            cp lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so /artifacts/lib

            # And also copy the build artifacts to the repo, so we can do a test build.
            # Note that we use the repo checked out on the host so that we can use
            # actions/checkout for the Git stuff, rather than having to mess with
            # the authentication in this container.
            cp bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar /host_repo/upstream
            mkdir -p /host_repo/src/main/resources/nu/pattern/opencv/linux/ARMv8
            cp lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so /host_repo/src/main/resources/nu/pattern/opencv/linux/ARMv8

            # Peform a test build in the host repo, which now contains all of the
            # build artifacts.
            cd /host_repo
            mvn -B test

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with: 
          name: ubuntu-18.04-arm64
          path: |
            artifacts/bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar
            artifacts/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so

  # Build native libraries for Linux and Mac. Uploads the libraries
  # as artifacts which are used in subsequent jobs.
  build_mac_linux_x64:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
        java: [8]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Get Version Info
        run: |
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)" >> $GITHUB_ENV

      - name: Build OpenCV
        run: |
          wget https://github.com/opencv/opencv/archive/${{ env.OPENCV_VERSION }}.zip > /dev/null
          unzip ${{ env.OPENCV_VERSION }} > /dev/null
          cd opencv-${{ env.OPENCV_VERSION }}
          mkdir build
          cd build
          cmake \
            -D OPENCV_FORCE_3RDPARTY_BUILD=ON \
            -D BUILD_JAVA=ON \
            -D BUILD_FAT_JAVA_LIB=ON \
            -D OPENCV_ENABLE_NONFREE=ON \
            -D BUILD_SHARED_LIBS=OFF \
            -D BUILD_PERF_TESTS=OFF \
            -D BUILD_TESTS=OFF \
            -D BUILD_EXAMPLES=OFF \
            -D BUILD_DOCS=OFF \
            -D BUILD_PACKAGE=OFF \
            -D BUILD_opencv_python2=OFF \
            -D BUILD_opencv_python3=OFF \
            -D BUILD_opencv_apps=OFF \
            -D BUILD_opencv_gapi=OFF \
            -D CMAKE_BUILD_TYPE=RELEASE \
            ..
          make -j8

      - name: Copy Libraries
        run: |
          cp opencv-${{ env.OPENCV_VERSION }}/build/bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar upstream || :
          cp opencv-${{ env.OPENCV_VERSION }}/build/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so src/main/resources/nu/pattern/opencv/linux/x86_64 || :
          cp opencv-${{ env.OPENCV_VERSION }}/build/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.dylib src/main/resources/nu/pattern/opencv/osx/x86_64 || :

      - name: Build with Maven
        run: mvn -B test

      - name: Upload Libraries
        uses: actions/upload-artifact@v2
        with: 
          name: ${{ matrix.os }}
          path: |
            opencv-${{ env.OPENCV_VERSION }}/build/bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar
            opencv-${{ env.OPENCV_VERSION }}/build/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so
            opencv-${{ env.OPENCV_VERSION }}/build/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.dylib

  # Downloads the Windows distribution from OpenCV, extracts it and uploads
  # the native libraries as artifacts for use by subsequent jobs. This is
  # in leiu of building the native libraries on Windows.
  build_windows:
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Get Version Info
        run: |
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)"
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)"
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)"
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $env:GITHUB_ENV
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)" >> $env:GITHUB_ENV
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)" >> $env:GITHUB_ENV

      - name: Download Windows Distribution
        run: wget -O opencv-${{ env.OPENCV_VERSION }}-vc14_vc15.exe https://sourceforge.net/projects/opencvlibrary/files/${{ env.OPENCV_VERSION }}/opencv-${{ env.OPENCV_VERSION }}-vc14_vc15.exe/download

      - name: Extract Windows Distribution
        run: 7z x opencv-${{ env.OPENCV_VERSION }}-vc14_vc15.exe
          
      - name: Upload Libraries
        uses: actions/upload-artifact@v2
        with: 
          name: windows-2016
          path: opencv/build/java

  # Download and combine the artifacts from the above jobs and build the
  # distribution jar. Uploads it as an artifact for subsequent steps.
  build_dist:
    needs: [build_linux_arm64, build_mac_linux_x64, build_windows]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        java: [8]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Get Version Info
        run: |
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)" >> $GITHUB_ENV

      - name: Download Libraries
        uses: actions/download-artifact@v2

      - name: Copy Binaries
        run: |
          # Note, this mkdir can be removed once we've pushed at least one
          # commit with the new binary.
          mkdir -p src/main/resources/nu/pattern/opencv/linux/ARMv8
          cp macos-10.15/bin/opencv-${{ env.OPENCV_VERSION_SHORT }}.jar upstream
          cp macos-10.15/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.dylib src/main/resources/nu/pattern/opencv/osx/x86_64
          cp ubuntu-18.04/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so src/main/resources/nu/pattern/opencv/linux/x86_64
          cp ubuntu-18.04-arm64/lib/libopencv_java${{ env.OPENCV_VERSION_SHORT }}.so src/main/resources/nu/pattern/opencv/linux/ARMv8
          cp windows-2016/x86/opencv_java${{ env.OPENCV_VERSION_SHORT }}.dll src/main/resources/nu/pattern/opencv/windows/x86_32
          cp windows-2016/x64/opencv_java${{ env.OPENCV_VERSION_SHORT }}.dll src/main/resources/nu/pattern/opencv/windows/x86_64

      - name: Build with Maven
        run: mvn -B install

      - name: Upload Distribution
        uses: actions/upload-artifact@v2
        with: 
          name: dist
          path: target/opencv*

  # Downloads the distribution jar that was build above and runs
  # a short smoke test on it on many platforms and versions of
  # Java. This is intended to ensure that the built jar
  # runs on all of the supported targets.
  test:
    needs: build_dist
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, windows-2016, windows-2019, ubuntu-20.04, ubuntu-18.04]
        java: [8, 9, 10, 11, 12, 13, 14, 15]

    steps:
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Get Version Info
        run: |
          echo "POM_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.long -q -DforceStdout)" >> $GITHUB_ENV
          echo "OPENCV_VERSION_SHORT=$(mvn build-helper:parse-version org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=opencv.version.short -q -DforceStdout)" >> $GITHUB_ENV

      - name: Download Distribution
        uses: actions/download-artifact@v2
        with:
          name: dist

      - name: Run Test
        run: java -cp opencv-${{ env.POM_VERSION }}.jar nu.pattern.PrintVersion

  # distribute:
  #   needs: test
  #   runs-on: ubuntu-18.04
